{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petyo's Blog</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="text-warning">Petyo</span> <span
                    class="text-success">Karatov</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto pull-right">

                    <form id="searchform" action="{% url 'blog:post_list' %}" method="GET" accept-charset="utf-8">
                        <div class="search">
                            <input type="text" class="form-control input-sm" maxlength="100" name="q" id="id_q"
                                   type="text"
                                   placeholder="Search" value='{{ request.GET.q }}'/>
                            <button type="submit" class="btn btn-primary btn-sm btnsearch"><i class="fa fa-search"></i> Search
                                Posts
                            </button>
                        </div>
                    </form>&nbsp;&nbsp;&nbsp;&nbsp;


                </div>
            </div>
        </div>
    </nav>

</header>
<main role="main">
    <div class="container">
        <div id="content">
            {% block content %}
            {% endblock %}

        </div>
        <div id="sidebar">

            <br/>
            <div class="list-group">
                <a class="list-group-item list-group-item-action bg-dark text-white" href="{% url 'blog:post_list' %}"><h2>My blog</h2></a>

                <p class="list-group-item list-group-item-action bg-info text-white">This is my blog.<br/>I've
                    Written {% total_posts %} posts so far.</p>
                <p><a class="list-group-item list-group-item-action bg-warning text-white"
                      href="{% url "blog:post_feed" %}">Subscribe to my RSS feed <i class="fa fa-rss"></i></a></p>
            </div>
            <div class="list-group">
                <h5 class="list-group-item list-group-item-action bg-danger text-white">Latest Posts</h5>
                {% show_latest_posts 5 %}
            </div>
            <br/>
            <div class="list-group">
                <h5 class="list-group-item list-group-item-action bg-success text-white">Most Commented Posts</h5>
                {% get_most_commented_posts as most_commented_posts %}

                {% for post in most_commented_posts %}
                    <a class="list-group-item list-group-item-action"
                       href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                {% endfor %}

            </div>
            <br/>
            <div class="list-group">
                <h5 class="list-group-item list-group-item-action bg-primary text-white">All Tags</h5>
                <div class="container-fluid list-group-item text-white">

                        {% for tag in tags %}
                            <strong class="d-inline-block mb-2 text-primary"><a
                                    href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a></strong>
                            {% if not forloop.last %}&nbsp;{% endif %}

                        {% endfor %}

                </div>
            </div>


        </div>

    </div>

</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>